.site-footer
  +last-p
  padding: 2rem 0
  background: shade($black, 55)
  color: $gray-darker
  font-size: .775em
  line-height: 1.2

  .footer-nav
    margin-bottom: .5rem


  +media($smallScreenUp)
    text-align: right
    .footer-nav
      float: left
      margin: 0
