.site-footer
  position: relative
  overflow: hidden
  z-index: 5
  margin-top: 2rem
  padding: 3rem 0
  background: $brand-blue
  text-align: center
  color: tint($brand-blue, 45)

  h3
    margin: 0 0 2rem
    color: tint($brand-blue, 85)  

  h3 + p
    margin: 0
    font-size: .875em

  .social-links
    margin: 1.5rem 0
    a
      +link-color(tint($brand-blue, 60))
      margin: 0 1rem
      font-size: 2em
      line-height: 1

  .footer-nav
    a
      +link-color(tint($brand-blue, 60))
      @extend %small-heavy-caps
      display: inline-block
      margin: 0 .5rem

  .copyright
    @extend %small-heavy-caps
    margin-top: 2rem
    color: (tint($brand-blue, 20))

  +media($smallScreenUp)
    text-align: left

    .sub-group
      +span-columns(6)
      &:last-child
        +span-columns(3)
        +shift(3)
        text-align: right

    .footer-nav
      margin-top: 1rem
      a
        margin: 0 1rem 0 0

.user-entry-page .site-footer
  margin-top: 0
