.site-header
  +clearfix
  padding: 1rem
  color: $gray-medium
  border-bottom: 1px solid $gray-light


.site-logo
  img
    +size(auto 3rem)
    margin-bottom: .5rem
    +media($smallScreenUp)
      +size(auto 3.5rem)
      margin: 0

.site-nav,
.site-header-user-wrap
  @extend %small-heavy-caps

.site-header-search
  form
    position: relative

  input[type="text"]
    width: 100%
    padding-right: 1.5rem

  .fa-search
    display: block
    +position(absolute, .5rem .5rem auto auto)
    font-size: 1rem
    color: $brand-orange

// LAYOUT
.site-header

  +media($smallScreenUp)
    .sub-group
      float: right
      margin-top: 1rem

.site-nav,
.site-header-user-wrap,
.site-header-search
  display: inline-block
  vertical-align: middle
  margin-right: .5rem
  small
    margin: 0 .25rem
  a
  +media($smallScreenUp)
    margin-left: 1.5rem

// HIDE SEARCH ON HOMEPAGE
.homepage .site-header
  .site-header-search
    display: none
