fieldset
  +row
  border: none
  margin: 0
  padding: 0

input[type="text"], input[type="tel"], input[type="email"], textarea
  +transition(border-color .2s, box-shadow .2s)
  width: 100%
  padding: .5em
  font-size: .875em
  border: 1px solid $gray-light
  border-radius: 0
  background: $white
  color: $black
  &:active, &:focus
    outline: none
  &:focus
    border-color: $brand-orange

input[type="radio"], input[type="checkbox"]
  display: inline-block
  margin: 0 .25em 0 0
  +media($smallScreenUp)
    margin: .4em .25em 0 0

input[type="submit"], button[type="submit"]
  +btn
  &.secondary-button
    +btn($brand-blue)

$placeholder-color: $gray-dark

form
  ::-webkit-input-placeholder
    color: $placeholder-color

  :-moz-placeholder
    color: $placeholder-color

  ::-moz-placeholder
    color: $placeholder-color

  :-ms-input-placeholder
    color: $placeholder-color

/// FORM PROMPTS & ERRORS
.form-alert
  +last-p
  position: relative
  margin-bottom: 1.5rem
  padding: 1rem
  font-size: .875em
  background: transparentize($blue, .925)
  color: darken($blue, 15)
  ul
    margin: 1rem
    &:last-child
      margin-bottom: 0
  li
    @extend %bullet-list-style
    &::before
      color: darken($blue, 15)
  &.alert-success
    background: transparentize($green, .925)
    color: darken($green, 15)
    li
      &::before
        color: darken($green, 15)
  &.alert-error
    background: transparentize($red, .925)
    color: darken($red, 35)
    li
      &::before
        color: darken($red, 35)

  &.add-close
    padding-right: 2rem
    .close-icon
      +transition(opacity, .3s)
      opacity: .5
      display: block
      +position(absolute, 4px 4px auto auto)
      padding: .4rem
      border: 2px solid transparentize($black, .65)
      background: url("../images/icon-close.svg") no-repeat center center
      background-size: 75%
      cursor: pointer
      &:hover
        opacity: 1



//// FORM MIXINS & EXTEND STYLES
=select-block-style($sheight: 3em)
  +transition(border-color .3s)
  -webkit-appearance: none
  -moz-appearance: none
  height: $sheight
  width: 100%
  padding: 0 1rem
  background: none
  border: 1px solid $gray-light
  border-radius: 0
  background: $white
  font-size: .875em
  cursor: pointer
  &:focus
    outline: none
  &:hover
    border-color: $brand-orange
=add-select-arrow($arrow-pos-top: 1.25rem, $arrow-pos-right: 1rem)
  position: relative
  &::after
    content: ""
    +position(absolute, $arrow-pos-top $arrow-pos-right auto auto)
    +size(1rem)
    background: url("../images/icon-arrow-down.svg") no-repeat center center

.form-label-small
  @extend %small-heavy-caps
  display: block
  margin: 0 0 .5rem
  font-family: $sans
  line-height: 1.1
  color: $brand-blue
