// LAYOUT GLOBALS
.container
  +outer-container
  padding: 0 1rem
  &.medium
    max-width: 46em
  &.narrow
    max-width: 38em
  +media($miniScreenDown)
    padding: .5rem

// GLOBAL CLASSES
.btn
  +btn

.btn-small
  +btn-small

.row
  +row

//SITE-STYLES
body
  background: $brand-blue
  +linear-gradient(shade($brand-blue, 20), $brand-blue)

body.homepage
  //+linear-gradient($off-white, $white)

.site-container
  position: relative
  max-width: 1350px
  margin: 0 auto

p
  margin-top: 0
a
  +transition(color .2s)
  color: $global-link-color
  text-decoration: none
  &:hover
    +transition(color .2s)
    color: darken($global-link-color, 10)
img
  vertical-align: bottom
  max-width: 100%

ul
  margin: 0
  padding: 0
li
  list-style: none

b
  font-weight: 900

hr
  margin: 1em 0
  border: none
  border-bottom: 1px solid
  border-color: $gray-light
  &.thick
    border-width: 5px
  &.narrow
    margin: 20% auto
  &.short
    margin: .5em 0
  &.tall
    margin: 2em 0

figure
  margin: 0

.page-section-title
  position: relative
  margin: 1rem 0 1.5rem
  font-size: .675em
  text-align: center
  text-transform: uppercase
  letter-spacing: .025rem
  +media($miniScreenDown)
    span
      display: block
    a
      display: block
      margin-top: .25rem
  +media($smallScreenUp)
    margin: 2rem 0 3rem
    font-size: .875em
  &.small-title
    font-size: .775em
  &.add-line
    span
      position: relative
      z-index: 1
      padding: .25rem 1rem
      background: $off-white
    &:before
      +position(absolute, 50% 0 auto 0)
      content: ""
      +size(100% 1px)
      background: $gray-light
  &.with-link
    a
      &::before
        content: "•"
        margin: 0 .5rem
        color: tint($base-theme-color, 5)
  &.on-theme-color.add-line
    color: tint($base-theme-color, 30)
    span
      background: shade($base-theme-color, 5)
      border: 1px solid tint($base-theme-color, 5)
    &::before
      background: tint($base-theme-color, 5)
