// LAYOUT GLOBALS
.container
  +outer-container
  padding: 0 1rem
  &.medium
    max-width: 50em
  &.narrow
    max-width: 38em
  +media($miniScreenDown)
    padding: .5rem

// GLOBAL CLASSES
.btn
  +btn

.btn-small
  +btn-small

.row
  +row

//SITE-STYLES
body
  background: $off-white
  +linear-gradient($off-white, $white)

.site-container
  position: relative
  max-width: 1350px
  margin: 0 auto
  background: $white
  border-left: 1px solid $gray-light
  border-right: 1px solid $gray-light

p
  margin-top: 0
a
  +transition(color .2s)
  color: $global-link-color
  text-decoration: none
  &:hover
    +transition(color .2s)
    color: darken($global-link-color, 10)
img
  vertical-align: bottom
  max-width: 100%

ul
  margin: 0
  padding: 0
li
  list-style: none

b
  font-weight: 900

hr
  margin: 1em 0
  border: none
  border-bottom: 1px solid
  border-color: $gray-light
  &.thick
    border-width: 5px
  &.narrow
    margin: 20% auto
  &.short
    margin: .5em 0
  &.tall
    margin: 2em 0

figure
  margin: 0

.page-section-title
  position: relative
  margin: 1rem 0
  text-align: center
  letter-spacing: .025rem
  +media($miniScreenDown)
    span
      display: block
    a
      display: block
      margin-top: .25rem
  +media($smallScreenUp)
    margin: 2rem 0
  &.small-title
    font-size: .775em
  &.with-link
    a
      &::before
        content: "•"
        margin: 0 1rem 0 .5rem
        color: $gray-medium
      i
        font-size: 1.25rem
        +transform(translateY(-2px))
