// FONTS
$serif: Georgia, serif
$sans: "franklin-gothic-urw", Helvetica, sans-serif
$display: "bistro-script-web", cursive

$body-font: $sans
$heading-font: $sans

// SHADES
$true-black: #000000
$black: #1c1815
$white: #ffffff
$off-white: saturate(tint($black, 96), 0)
$gray-lightest: saturate(tint($black, 92), 0)
$gray-lighter: saturate(tint($black, 91), 0)
$gray-light: desaturate(tint($black, 85), 0)
$gray-medium: desaturate(tint($black, 60), 0)
$gray-dark: desaturate(tint($black, 45), 0)
$gray-darker: desaturate(tint($black, 30), 0)
$gray-darkest: desaturate(tint($black, 20), 0)

// COLORS
$brand-orange: #E36626
$brand-green: #2E7A3C
$brand-brown: #3D352C
$brand-yellow: #F1C049

$red: red
$green: green
$blue: #3A92AF
$yellow: yellow
$orange: orange

// SITE COLOR VARIABLES
$global-link-color: $brand-orange
$global-text-color: $gray-darker

// BREAKPOINTS
$smallScreenUp: new-breakpoint(min-width 544px)
$smallScreenDown: new-breakpoint(max-width 544px)
$mediumScreenUp: new-breakpoint(min-width 786px)
$mediumScreenDown: new-breakpoint(max-width 768px)
$largeScreenUp: new-breakpoint(min-width 992px)
$largeScreenDown: new-breakpoint(max-width 992px)
$extraLargeScreenUp: new-breakpoint(min-width 1200px)
