.homepage-section


.homepage-section.homepage-hero
  display: table
  width: 100%
  background: +off-white
  border-bottom: 1px solid $gray-light

  h1
    margin: 0 0 1rem
    padding: 0 1rem
    font-weight: 700
    line-height: 1
    color: $brand-blue
    text-shadow: $white 0 0 55px, $white 1px 1px

  .hero-content
    display: table-cell
    +size(100%)
    vertical-align: middle
    text-align: center

  form
    position: relative
    max-width: 32em
    margin: 0 auto
    padding: .75rem
    background: $brand-blue
    box-shadow: transparentize($black, .8) 10px 10px 0 -3px

    input[type="text"]
      width: 100%
      padding: 1rem
      border: 2px solid $black

    .fa-search
      display: inline-block
      +position(absolute, 1.85rem 2rem auto auto)
      font-size: 1.5rem
      color: $brand-orange

  .action-callouts
    max-width: 30em
    margin: 2rem auto 0
    a
      +btn
      width: 48%
      padding: 1rem 0
      box-shadow: transparentize($black, .8) 8px 8px 0 -3px
      &:first-of-type
        margin-right: 2%
    i
      position: relative
      margin-right: .25rem
      font-size: 1.275em
      +transform(translateY(2px))

  +media($smallScreenDown)
    padding: 2rem
    h1
      margin-bottom: 2rem
      font-size: 2rem
    .action-callouts
      a
        display: block
        width: 100%
        &:first-of-type
          margin-bottom: 1rem
  +media($smallScreenUp)
    min-height: 400px
    height: 35vh
    background: $off-white url("../images/bg-trucks.svg") no-repeat center bottom
    background-size: 100% auto

    h1
      margin-bottom: 3rem

    .action-callouts
      margin-top: 3rem

.homepage-section.homepage-lastest-reviews
  +media($smallScreenUp)

    .company-block
      +span-columns(6)
      +omega(2n)

  +media($largeScreenUp)
    .company-block
      +omega-reset(2n)
      +span-columns(4)
      +omega(3n)
