.homepage-section


.homepage-section.homepage-hero
  display: table
  width: 100%
  background: shade($base-theme-color, 35)

  h1
    margin: 0 0 1rem
    padding: 0 1rem
    line-height: 1
    color: $white
    text-shadow: transparentize(darken($brand-blue, 35), .5) 0 0 55px

  .hero-content
    display: table-cell
    +size(100%)
    vertical-align: middle
    text-align: center

  form
    position: relative
    max-width: 32em
    margin: 0 auto
    padding: .5rem
    border: 1px solid darken($orange, 5)
    box-shadow: transparentize(darken($brand-blue, 20), .75) 0 0 0 5px, transparentize(darken($brand-blue, 15), .75) 0 0 0 10px

    input[type="text"]
      width: 100%
      padding: 1rem
      border: none

    .fa-search
      display: inline-block
      +position(absolute, 1.75rem 1.5rem auto auto)

  .action-callouts
    max-width: 30em
    margin: 2rem auto 0
    a
      +btn
      width: 48%
      padding: 1rem 0
      box-shadow: transparentize(darken($brand-blue, 35), .5) 5px 5px 0 0
      &:first-of-type
        margin-right: 2%
    i
      position: relative
      margin-right: .25rem
      font-size: 1.275em
      +transform(translateY(2px))

  +media($smallScreenDown)
    padding: 2rem
    h1
      margin-bottom: 2rem
      font-size: 2rem
    .action-callouts
      a
        display: block
        width: 100%
        &:first-of-type
          margin-bottom: 1rem
  +media($smallScreenUp)
    min-height: 400px
    height: 35vh
    background: url("../images/bg-trucks.svg") no-repeat center bottom
    background-size: 100% auto

    h1
      margin-bottom: 3rem

    .action-callouts
      margin-top: 3rem

.homepage-section.homepage-lastest-reviews
  +media($smallScreenUp)
    .page-section-title
      margin-top: 0

    .company-block
      +span-columns(6)
      +omega(2n)

  +media($largeScreenUp)
    .company-block
      +omega-reset(2n)
      +span-columns(4)
      +omega(3n)
